<section id="org" class="orga bg-primary text-center flex-container">
  <div class=" text-center">
    <div class="section-heading">
      <h2>Organización</h2>
      <hr>
    </div>
  </div>
  <br>
  <br>
  <div class="content">
    <div class="col-sm-4 col-xs-12">
      <div class="card hovercard">
        <div class="cardheader">
          <strong></strong>
        </div>
        <div class="avatar">
          <img alt="" src="./assets/img/empleados/Jesus.jpeg">
        </div>
        <div class="info">
          <div class="title">
            <a href="mailto:jnoriega@cotecnologias.com">
              Ing. Jesús Alfredo Noriega
            </a>
          </div>
          <div class="desc">Co Founder</div>
          <div class="desc">Director</div>
        </div>
        <div class="bottom">
          <a href="mailto:jnoriega@cotecnologias.com">
            jnoriega@cotecnologias.com
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-xs-12">
      <div class="card hovercard">
        <div class="cardheader">
          <strong></strong>
        </div>
        <div class="avatar">
          <img alt="" src="./assets/img/person.png">
        </div>
        <div class="info">
          <div class="title">
            <br>
          </div>
          <div class="desc">Gerente de Desarrollo de Software</div>
          <div class="desc">Administrative Project Manager</div>
        </div>
        <div class="bottom">
          <a href="mailto:reclutamiento@cotecnologias.com">
reclutamiento@cotecnologias.com
</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-xs-12">
      <div class="card hovercard">
        <div class="cardheader">
          <strong></strong>
        </div>
        <div class="avatar">
          <img alt="" src="./assets/img/empleados/Miguel.jpeg">
        </div>
        <div class="info">
          <div class="title">
            <a href="mailto:mreina@cotecnologias.com">
              Lic. Miguel Agustín Reina
            </a>
          </div>
          <div class="desc">Lead Developer</div>
          <div class="desc">PHP Sr Developer</div>
        </div>
        <div class="bottom">
          <a href="mailto:mreina@cotecnologias.com">
            mreina@cotecnologias.com
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-xs-12">
      <div class="card hovercard">
        <div class="cardheader">
          <strong></strong>
        </div>
        <div class="avatar">
          <img alt="" src="./assets/img/empleados/IMG_0746.jpg">
        </div>
        <div class="info">
          <div class="title">
            <a href="mailto:jatondo@cotecnologias.com">
              Ing. Pedro Atondo
            </a>
          </div>
          <div class="desc">Server Admin</div>
          <div class="desc">DevOps</div>
        </div>
        <div class="bottom">
          <a href="mailto:jatondo@cotecnologias.com">
            jatondo@cotecnologias.com
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-xs-12">
      <div class="card hovercard">
        <div class="cardheader">
          <strong></strong>
        </div>
        <div class="avatar">
          <img alt="" src="./assets/img/person.png">
        </div>
        <div class="info">
          <div class="title">
            <br>
          </div>
          <div class="desc">Ejecutivo Comercial</div>
          <div class="desc">Marketing/Sales</div>
        </div>
        <div class="bottom">
          <a href="mailto:reclutamiento@cotecnologias.com">
reclutamiento@cotecnologias.com
</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-xs-12">
      <div class="card hovercard">
        <div class="cardheader">
          <strong></strong>
        </div>
        <div class="avatar">
          <img alt="" src="./assets/img/person.png">
        </div>
        <div class="info">
          <div class="title">
            <br>
          </div>
          <div class="desc">Auxiliar Administrativo</div>
          <div class="desc">Recepción,facturacion y administración.</div>
        </div>
        <div class="bottom">
          <a href="mailto:reclutamiento@cotecnologias.com">
reclutamiento@cotecnologias.com
</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-xs-12">
      <div class="card hovercard">
        <div class="cardheader">
          <strong></strong>
        </div>
        <div class="avatar">
          <img alt="" src="./assets/img/empleados/JOSE.jpeg">
        </div>
        <div class="info">
          <div class="title">
            <a href="mailto:jhernandez@cotecnologias.com">
              Ing. José Hernandez
            </a>
          </div>
          <div class="desc">Developer</div>
          <div class="desc">Genexus Developer</div>
        </div>
        <div class="bottom">
          <a href="mailto:jhernandez@cotecnologias.com">
            jhernandez@cotecnologias.com
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-xs-12">
      <div class="card hovercard">
        <div class="cardheader">
          <strong></strong>
        </div>
        <div class="avatar">
          <img alt="" src="./assets/img/empleados/IMG_0748.jpg">
        </div>
        <div class="info">
          <div class="title">
            <a href="mailto:ldurazo@cotecnologias.com">
              Ing. Leonardo Durazo
            </a>
          </div>
          <div class="desc">Developer</div>
          <div class="desc">Full-Stack developer</div>
        </div>
        <div class="bottom">
          <a href="mailto:ldurazo@cotecnologias.com">
            ldurazo@cotecnologias.com
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-xs-12">
      <div class="card hovercard">
        <div class="cardheader">
          <strong></strong>
        </div>
        <div class="avatar">
          <img alt="" src="./assets/img/empleados/IMG_0737.jpg">
        </div>
        <div class="info">
          <div class="title">
            <a href="mailto:lmontano@cotecnologias.com">
              Lic. Roberto Montaño
            </a>
          </div>
          <div class="desc">Developer</div>
          <div class="desc">Full-Stack Developer</div>
        </div>
        <div class="bottom">
          <a href="mailto:lmontano@cotecnologias.com">
            lmontano@cotecnologias.com
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-xs-12">
      <div class="card hovercard">
        <div class="cardheader">
          <strong></strong>
        </div>
        <div class="avatar">
          <img alt="" src="./assets/img/empleados/IMG_0734.jpg">
        </div>
        <div class="info">
          <div class="title">
            <a href="mailto:lmoya@cotecnologias.com">
              Ing. Luis Enrique Moya
            </a>
          </div>
          <div class="desc">Developer</div>
          <div class="desc">Full-Stack Developer</div>
        </div>
        <div class="bottom">
          <a href="mailto:lmoya@cotecnologias.com">
            lmoya@cotecnologias.com
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-xs-12">
      <div class="card hovercard">
        <div class="cardheader">
          <strong></strong>
        </div>
        <div class="avatar">
          <img alt="" src="./assets/img/empleados/IMG_0732.jpg">
        </div>
        <div class="info">
          <div class="title">
            <a href="mailto:jjaramillo@cotecnologias.com">
              Lic. Ernesto Jaramillo
            </a>
          </div>
          <div class="desc">Developer</div>
          <div class="desc">Full-Stack Developer</div>
        </div>
        <div class="bottom">
          <a href="mailto:jjaramillo@cotecnologias.com">
            jjaramillo@cotecnologias.com
          </a>
        </div>
      </div>
    </div>
  <div class="col-sm-4 col-xs-12">
    <div class="card hovercard">
      <div class="cardheader">
        <strong></strong>
      </div>
      <div class="avatar">
        <img alt="" src="./assets/img/person.png">
      </div>
      <div class="info">
        <div class="title">
<br>
        </div>
        <div class="desc">Designer</div>
        <div class="desc">UI/UX: Web/Mobile</div>
      </div>
      <div class="bottom">
        <a href="mailto:reclutamiento@cotecnologias.com">
reclutamiento@cotecnologias.com
</a>
      </div>
    </div>
  </div>
</div>
</section>
